*.fewster_file,
.fewster_new{
	border-top: 1px solid #000;
	background: #fff;
	width:98%;
	margin: 5px 0px;
	padding: 5px;
}

.fewster_file_name{
	font-weight: bold;
}	

.fewster-anti-bad_page_fewster-r-diff #wpbody-content p.fewster_diff,
.fewster-anti-bad_page_fewster-diff #wpbody-content p.fewster_diff{
	margin:0px;
	padding:0px;
	font-size:20px;
}

.fewster-anti-bad_page_fewster-image-check #wpbody-content li,
.fewster-anti-bad_page_fewster-scan-integrity-change #wpbody-content li,
.fewster-anti-bad_page_fewster-integrity-core #wpbody-content li,
.fewster-anti-bad_page_fewster-integrity-all #wpbody-content li,
.fewster-anti-bad_page_fewster-integrity-susp #wpbody-content li,
.fewster-anti-bad_page_fewster-plugin-check #wpbody-content li,
.fewster-anti-bad_page_fewster-theme-check #wpbody-content li,
.fewster-anti-bad_page_fewster-integrity-plugins #wpbody-content li{
	border:1px solid #000;
	background:#fff;
	padding:3px;
}

.fewster_difference{
	background:#fff;
}

.fewster_added{
	background:#f00;
}

.fewster_removed{
	background:#f88;
}

#fewster_importProgress{
	display: none;
}

.download{
	background:#fff;
	padding: 5px;
	margin-bottom: 10px;
}

.download-needed{
	border-left: 5px solid #f00;
}

.fewster_integrity_response{
	margin-left: 10px;
}

#fewster_importProgress{
	background:#FFF;
	text-align:center;
	margin-bottom: 10px;
}

#importProgressBar{
	width:100%;
	background:#0F0;
}

.fewster_notice_good{
	background:#afa;
	margin: 5px 0px;
	display: none;
	padding: 5px;
}

.fewster_notice_bad{
	background:#faa;
	margin: 5px 0px;
	display: none;
	padding: 5px;
}

.fewster_integrity_options{
	color:#000;
}

.fewster_integrity_update{
	border:1px solid #000;
	padding:10px;
	display: none;
}

.fewster_integrity_success{
	background:#afa;
	display: none;
	padding:10px;
}

.fewster_integrity_fail{
	background:#faa;
	display: none;
	padding:10px;
}

.fewster_themes{
	margin-left:180px;
	position: relative;
    top: -50px;
}

.fewster_integrity_update h4,
.fewster_integrity_fail h4{
	color:#000;
}

.fewster_notification_table{
	margin-top: 30px;
}

.fewster_header_row,
.fewster_row{
	background:#fefefe;
	width: 100%;
	clear: both;
}

.fewster_notification_table .fewster_header_row{
	font-weight:bold;
	height: 30px;
}

.fewster_header_row div,
.fewster_row div{
	display:inline-block;
	width:24%;
	vertical-align:top;
	text-align: center;
	border-left:1px solid #333;
	border-bottom:1px solid #111;
	padding: 5px;
	word-wrap: break-word;
}

.fewster_row div{
	height:60px;
}

.fewster_header_row div:first-child,
.fewster_row div:first-child{
	text-align: left;
	border-left:none;
}